{% extends 'blog/page.html.twig' %}

{% block head %}
{{- parent() }}
    <!-- Open Graph audio -->
    <meta property="og:audio" content="{{ asset(page.episode.file)|url({canonical: true}) }}" />
    <meta property="og:audio:type" content="{{ asset(page.episode.file).subtype }}" />
{% endblock %}

{% block content %}
        <article class="article article--page typeset">
          <h1 style="text-align:center">{{ page.title }}</h1>
          {%- if page.episode.image is defined -%}
          <p style="margin:revert"><img src="{{ asset(page.episode.image|default(site.podcast.image))|url }}" alt="{{ page.title }}" style="align:center" width="250px" /></p>
          {%- endif -%}
          {%~ include 'partials/audioplayer.html.twig' ~%}
          <h2>Description</h2>
          {%~ include 'partials/post-meta.html.twig' with {'post': page} only ~%}
          {{ page.content }}
        </article>
{% endblock %}
