      <section class="lastposts typeset">
        <h2>Last episodes</h2>
{#
        <ul class="list list--posts">
{% for post in site.pages|filter_by('section', 'episodes')|sort_by_date %}
          <li class="item item--post">
            <a href="{{ url(post) }}">{{ post.title }}</a>
          </li>
{% endfor %}
        </ul>
#}
        <dl>
{% for post in site.pages|filter_by('section', 'episodes')|sort_by_date|slice(0, 2) %}
          <dt><a href="{{ url(post) }}">{{ post.title }}</a></dt>
          <dd>{{ post.content|excerpt(200) }}</dd>
{% endfor %}
        </dl>
        <a href="/episodes">All episodes →</a>
      </section>
